@mixin transition{
    transition:all 0.3s ease;
    -moz-transition:all 0.3s ease;
    -webkit-transition:all 0.3s ease;
    -ms-transition:all 0.3s ease;
    -o-transition:all 0.3s ease;
}

@mixin radius{
    border-radius:32px;
    -moz-border-radius:32px;
    -webkit-border-radius:32px;
    -ms-border-radius:32px;
    -o-border-radius:32px;   
}