//colors
$prcolor:#610078; //purple color
$darkcolor:#000000; //black color
$whitecolor:#ffffff; //white color

$fsize:14px; //normal font size

//responsive breakpoints variables
$mobile-width:320px; //mobile min width
$mobilelscape-width:576px; //mobile landscape / small device
$tablet-width:768px; //tablet min width / medium device
$laptop-width:992px; //laptop min width / large device
$desktop-width:1200px; //desktop min width / extra larve device