@import url("https://fonts.googleapis.com/css?family=Be+Vietnam:100,300,400,500,600,700&display=swap");
body {
  font-family: 'Be Vietnam', sans-serif;
  color: #000000;
  font-size: 14px;
}

body p {
  margin-bottom: 0;
  padding-bottom: 0;
}

body ul {
  list-style: none;
}

body a:hover {
  text-decoration: none;
}

.fthin, .banner-section article h1 {
  font-weight: 100;
}

.flight {
  font-weight: 300;
}

.fregular {
  font-weight: 400;
}

.fmed, header .navbar .nav-link {
  font-weight: 500;
}

.fsemi, .banner-section article h2 {
  font-weight: 600;
}

.fbold {
  font-weight: 700;
}

.fpurple {
  color: #610078;
}

.fwhite {
  color: #ffffff;
}

.btnlink, header .navbar .nav-right a {
  background: #610078;
  padding: 12px 18px;
  text-align: center;
  color: #ffffff;
  border: 1px solid #610078;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.btnlink:hover, header .navbar .nav-right a:hover {
  background: #ffffff;
  border: 1px solid #610078;
  color: #610078;
}

.whitelink, footer a {
  background: #ffffff;
  padding: 12px 18px;
  text-align: center;
  color: #610078;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  border: 1px solid #610078;
}

.whitelink:hover, footer a:hover {
  background: #610078;
  border: 1px solid #ffffff;
  color: #ffffff;
}

.fixed-theme {
  -webkit-box-shadow: 4px 0 2px #ccc;
          box-shadow: 4px 0 2px #ccc;
}

.fixed-theme .top-header {
  margin-top: -35px;
}

header .top-header {
  background: #000000;
  min-height: 20px;
  color: #ffffff;
  font-size: 13px;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

header .top-header .icomoon {
  color: #db45ff;
  padding: 0 5px;
}

header .navbar {
  padding-top: 5px;
  background: #ffffff;
}

header .navbar .navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}

header .navbar .navbar-brand img {
  width: 190px;
}

header .navbar .nav-link {
  color: #000000 !important;
  text-transform: uppercase;
}

header .navbar .nav-right a {
  border-radius: 32px;
  -moz-border-radius: 32px;
  -webkit-border-radius: 32px;
  -ms-border-radius: 32px;
  -o-border-radius: 32px;
  text-transform: uppercase;
}

.banner-section {
  background-color: #e6e6e6;
  min-height: 900px;
  padding-top: 126px;
  background: url(../img/banner-vectorbg.svg) no-repeat center 400px;
  width: 100%;
}

.banner-section article h2 {
  font-size: 18px;
  color: #d212ff;
}

.banner-section article h1 {
  font-size: 50px;
  margin-bottom: 40px;
}

.banner-section .search-cab-home {
  background: #ffffff;
  min-height: 360px;
  width: 364px;
  -webkit-box-shadow: 0 0 3px #ccc;
          box-shadow: 0 0 3px #ccc;
  float: right;
}

.banner-section .search-cab-home .nav-tabs {
  border: none;
}

.banner-section .search-cab-home .nav-tabs .nav-item {
  width: 50%;
  text-align: center;
}

.banner-section .search-cab-home .nav-tabs .nav-item .nav-link {
  border: none;
  display: block;
  color: #000000;
  text-transform: uppercase;
}

.banner-section .search-cab-home .nav-tabs .active {
  background: #610078;
  color: #ffffff !important;
}

.banner-section .search-cab-home .tab-content {
  padding: 20px;
}

.banner-section .search-cab-home .tab-content .wayinput {
  background: #f2f2f2;
  height: 42px;
  margin-bottom: 10px;
}

.banner-section .search-cab-home .tab-content .wayinput input {
  background: none;
  border: none;
  width: 90%;
  padding-left: 20px;
}

.banner-section .search-cab-home .tab-content .wayinput input:focus {
  outline: none;
}

.banner-section .search-cab-home .tab-content .wayinput ::-webkit-input-placeholder {
  color: #999999;
  font-size: 13px;
}

.banner-section .search-cab-home .tab-content .wayinput :-ms-input-placeholder {
  color: #999999;
  font-size: 13px;
}

.banner-section .search-cab-home .tab-content .wayinput ::-ms-input-placeholder {
  color: #999999;
  font-size: 13px;
}

.banner-section .search-cab-home .tab-content .wayinput ::placeholder {
  color: #999999;
  font-size: 13px;
}

.banner-section .search-cab-home .tab-content .wayinput .icomoon {
  padding-top: 12px;
  color: gray;
}

.titlerow {
  padding: 20px 0;
}

.titlerow h2 {
  font-size: 18px;
  color: #610078;
}

.titlerow h3 {
  font-size: 31px;
}

.col .icomoon {
  font-size: 56px;
  color: #610078;
}

.col h4 {
  font-size: 20px;
  padding: 10px 0;
}

.welcome-section {
  background: #fffffa;
}

.fleet-section {
  padding: 50px 0;
}

.fleet-section .nav-item .active {
  background: none !important;
  color: #000000 !important;
}

.fleet-section .nav-item .active:after {
  content: '';
  width: 0;
  height: 0;
  border-left: 22px solid transparent;
  border-right: 22px solid transparent;
  border-bottom: 22px solid #ebebeb;
  position: relative;
  top: 5px;
}

.fleet-section .nav-link {
  color: #000000;
}

.fleet-section .tab-content {
  background: #ebebeb;
  min-height: 200px;
  width: 96%;
  margin: 0 auto;
}

.fleet-section .tab-content .tabpassenger {
  padding: 100px 0;
}

.calltaxi-section {
  background: url(../img/calltaxiimg.png) no-repeat right center;
}

.calltaxi-section .row {
  padding: 200px 0;
}

.calltaxi-section .row h2 {
  font-size: 70px;
  color: #610078;
}

.benefits {
  background: #fffffa;
}

.benefits .icomoon {
  font-size: 30px;
  background: #610078;
  font-size: 40px;
  color: #ffffff;
  padding: 20px;
  border-radius: 50%;
}

.benefits h4 {
  font-size: 20px;
}

.benefits .benefitsrow {
  padding: 35px 0;
}

footer {
  background: #000000;
  padding: 60px 0;
  color: #ffffff;
}

footer h3 {
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

footer p {
  color: #b3b3b3;
}

footer .newsletter {
  height: 52px;
  background: #ffffff;
  width: 100%;
  margin-top: 20px;
}

footer .newsletter input {
  background: none;
  border: none;
  height: 52px;
  padding-left: 10px;
  width: 85%;
}

footer .newsletter button {
  width: 15%;
  background: #610078;
  border: none;
  color: #ffffff;
  font-size: 25px;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

footer .newsletter button:hover {
  background: #8a00ab;
}

footer #movetop {
  position: fixed;
  right: 10px;
  bottom: 25px;
  display: none;
}
/*# sourceMappingURL=style.css.map */