@import 'variables';
@import 'mixins';

//google font
@import url('https://fonts.googleapis.com/css?family=Be+Vietnam:100,300,400,500,600,700&display=swap');

body {
    font-family: 'Be Vietnam', sans-serif;
    color: $darkcolor;
    font-size: $fsize;

    p{
        margin-bottom:0;
        padding-bottom:0;
    }
    ul{
        list-style: none;
    }
    a{
        &:hover{
            text-decoration:none;
        }
    }
}

.fthin {
    font-weight: 100;
}

.flight {
    font-weight: 300;
}

.fregular {
    font-weight: 400;
}

.fmed {
    font-weight: 500;
}

.fsemi {
    font-weight: 600;
}

.fbold {
    font-weight: 700;
}

.fpurple {
    color: $prcolor;
}

.fwhite {
    color: $whitecolor;
}

.btnlink {
    background: $prcolor;
    padding: 12px 18px;
    text-align: center;
    color: $whitecolor;
    border:1px solid $prcolor;
    @include transition;

    &:hover{
        background:$whitecolor;
        border:1px solid $prcolor;
        color:$prcolor;
    }
}
.whitelink {
    background: $whitecolor;
    padding: 12px 18px;
    text-align: center;
    color: $prcolor;
    @include transition;
    border:1px solid $prcolor;

    &:hover{
        background:$prcolor;
        border:1px solid $whitecolor;
        color:$whitecolor;
    }
}

//header starts

.fixed-theme{
    box-shadow: 4px 0 2px #ccc;

    .top-header{
        margin-top:-35px;
    }
}

header{
    .top-header {
        background: $darkcolor;
        min-height: 20px;
        color:$whitecolor;   
        font-size:$fsize - 1; 
        @include transition;
        
        .icomoon{
        //    @extend .fpurple
        color:lighten($prcolor, 40%);
        padding:0 5px;
        }
    }
    .navbar{      
        padding-top:5px;
        background:$whitecolor;
        .navbar-brand{
            padding-top:0;
            padding-bottom:0;
            img{
                width:190px;
            }
        }
        .nav-link{
            color:$darkcolor!important;
            text-transform: uppercase;
            @extend .fmed;                 
        }
        .nav-right{
            a{
                @extend .btnlink;
                @include radius;
                text-transform: uppercase;
                
               
            }
        }
    }
}

//header ends 

//banner section
.banner-section{
    background-color:lighten($darkcolor, 90%);
    min-height:900px;
    padding-top:126px;
    background:url(../img/banner-vectorbg.svg)no-repeat center 400px;
    width:100%;

    article{       
        h2{
            font-size:$fsize + 4;
            @extend .fsemi;
            color:lighten($prcolor, 30%);
        }
        h1{
            font-size:$fsize * 3 + 8;
            @extend .fthin;
            margin-bottom:40px;
        }
       
    }

    .search-cab-home{
        background:$whitecolor;
        min-height:360px;
        width:364px;      
        box-shadow: 0 0 3px #ccc;
        float:right;

        .nav-tabs{
            border:none;

            .nav-item{
                width:50%;
                text-align:center;

                .nav-link{
                    border:none;               
                    display:block;
                    color:$darkcolor;
                    text-transform:uppercase;
                }
            }

           
            .active{
                background:$prcolor;
                color:$whitecolor!important;
            }
        }

        .tab-content{
            padding:20px;

            

            .wayinput{
                background:lighten($darkcolor, 95%);
                height:42px;
                margin-bottom:10px;

               input{
                    background:none;
                    border:none;
                    width:90%;
                    padding-left:20px;                   

                    &:focus{
                        outline:none;                          
                    }                   
                }  
                ::placeholder{
                    color:lighten($darkcolor, 60%);
                    font-size:$fsize - 1;
                }  
                .icomoon{
                    padding-top:12px;
                    color:lighten($darkcolor, 50%);
                }                          
            }           
        }
    }
}
//banner section ends 

.titlerow{
    padding:20px 0;
    h2{
        font-size:$fsize + 4;
        color:$prcolor;
    }
    h3{
        font-size:$fsize * 2 + 3;
    }
   
}

.col{
    .icomoon{
        font-size:$fsize * 4;
        color:$prcolor;
    }
    h4{
        font-size:$fsize + 6;
        padding:10px 0;
    }
}

//welcome section
.welcome-section{
    background:#fffffa;   
}
//selcome section ends

//fleet section

.fleet-section{
    padding:50px 0;

    .nav-item{
        .active{
            background:none!important;
            color:$darkcolor!important;
    
            &:after{
                content:'';
                width: 0;
                height: 0;
                border-left: 22px solid transparent;
                border-right: 22px solid transparent;
                border-bottom: 22px solid lighten($darkcolor, 92%);
                position:relative;
                top:5px;
            }
        }
    }
    .nav-link{
        color:$darkcolor;
    }

    .tab-content{
        background:lighten($darkcolor, 92%);
        min-height:200px;
        width:96%;
        margin:0 auto;

        .tabpassenger{
            padding:100px 0;
        }
    }
}

//call taxi
.calltaxi-section{
    background:url(../img/calltaxiimg.png)no-repeat right center;
   .row{
       padding:200px 0;

       h2{
           font-size:$fsize * 5;
           color:$prcolor;
       }
   }
}

//home benefits
.benefits{
    background:#fffffa; 

    .icomoon{
      font-size:30px;
      background:$prcolor;
      font-size:40px;
      color:$whitecolor;
      padding:20px;
      border-radius:50%;
    }
    h4{
        font-size:$fsize + 6;
    }
    .benefitsrow{
        padding:35px 0;
    }
}

//footer styles
footer{
    background:$darkcolor;
    padding:60px 0;
    color:$whitecolor;

    h3{
        font-size:$fsize * 2;
        text-transform:uppercase;
        letter-spacing: 3px;;
    }
    p{
        color:lighten($darkcolor, 70%);
    }
    a{
        @extend .whitelink;
       
    }
    .newsletter{
        height:52px;
        background:$whitecolor;
        width:100%;
        margin-top:20px;

        input{
            background:none;
            border:none;
            height:52px;
            padding-left:10px;
            width:85%;
        }
        button{
            width:15%;
            background:$prcolor;
            border:none;
            color:$whitecolor;
            font-size:25px;
            @include transition;

            &:hover{
                background:lighten($prcolor, 10%);
            }
        }
    }
    #movetop{
        position:fixed;
        right:10px;
        bottom:25px;
        display:none;          
    }
}